.additional-checkbox {
  grid-area: add;
}

.additional-checkbox__list {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto(4, repeat);

  @media (min-width: @tablet) {
    grid-template-columns: 320px 320px;
    grid-template-rows: auto(2, repeat);
  };


}

.additional-box__control-label {
  color: #000000;
}
