
.additions__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  position: relative;

  @media (min-width: @tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }

}
