.addon-list {
  .list-style;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;

  @media (min-width: @desktop) {
    align-items: center;
  }
}

.addon-list li:last-child {
  @media (min-width: @desktop) {
    border-bottom: 1px solid #CDCDCD;
  }
}

.addon__button {
  width: 280px;
  display: block;
  box-sizing: border-box;
  padding: 10px 110px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  @media (min-width: @tablet) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 631px;
    margin-left: 37px;
    padding: 10px 286px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 244px;
    padding: 10px 93px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.addon__description {
  @media (min-width: @desktop) {
    margin: 0;
    padding: 0;
  }
}

.addon__price {
  @media (min-width: @desktop) {
    margin: 0;
    padding: 0;
  }
}
