.cat-info {
  position: relative;

  @media (min-width: @tablet) {
    padding-top: 30px;
  }

  @media (min-width: @desktop) {
    padding-top: 27px;
  }
}

.cat-info::after {
  content: "";
  position: absolute;
  width: 318px;
  height: 1px;
  background-color: #d9d9d9;
  left: -20px;
  bottom: -5px;

  @media (min-width: @tablet) {
    display: none;
  }
}

.cat-info__item--name {
  margin-bottom: 16px;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    width: 632px;
  }
}

.cat-info__item--weight {
  margin-top: 0;
  margin-bottom: 18px;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    width: 636px;
  }
}

.cat-info__item--age {
  margin-top: 0;
  margin-bottom: 9px;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    width: 634px;
    margin-bottom: 53px;
  }
}

.cat-info__input-name {
  width: 224px;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    width: 567px;
  }

  @media (min-width: @desktop) {
    width: 510px;
  }
}

.cat-info__input-weight {
  width: 203px;
  margin-top: 0;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    width: 540px;
  }

  @media (min-width: @desktop) {
    width: 483px;
  }
}

.cat-info__input-age {
  width: 169px;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    width: 498px;
  }

  @media (min-width: @desktop) {
    width: 442px;
  }
}
