.catalog {
  display: grid;
  grid-template-columns: 280px;

  @media (min-width: @tablet) {
    grid-template-columns: 708px;
    padding-left: 10px;
    padding-top: 8px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 895px 325px;
    grid-column-gap: 80px;
    margin: 0 auto;
    padding-left: 91px;
    padding-top: 3px;
    box-sizing: border-box;
  }
}
