.catalog-page {
  margin: 0 auto;
}

.catalog-page__container {
  width: 320px;
  padding: @padding-mobile;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    width: 768px;
    padding: 0 14px;
  }

  @media (min-width: @desktop) {
    width: 1440px;
    padding: 23px 19px 0;
  }
}

.catalog-page__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
  padding-top: 27px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 160px;
    margin-left: 10px;
    border-top: none;
  }

  @media (min-width: @desktop) {
    margin-left: 91px;
    width: 800px;
    margin-top: -46px;
  }
}
