.catalog-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.catalog {
  width: 320px;
  margin: 0 auto;
  padding: @padding-mobile;
  display: grid;
  grid-template-columns: 280px;


  @media (min-width: @tablet) {
    width: 758px;
    grid-template-columns: 758px;
    padding: 0 30px;
  }

  @media (min-width: @desktop) {
    width: 1280px;
    grid-template-columns: 890px 250px;
    padding: 0 100px;
    grid-column-gap: 80px;
  }
}

.catalog-page__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 41px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 160px;
}

  @media (min-width: @desktop) {
    margin-left: 100px;
  }
}

.product-list {
  @media (min-width: @desktop) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}

.additions {
  @media (min-width: @desktop) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
}

.promo {
  @media (min-width: @desktop) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
