.comments-field {
  grid-area: comments;
}

.comments-field__title {
  position: relative;
  margin-top: 5px;
  margin-bottom: 39px;
}



.comments-field__input {
  padding-right: 5px;
  width: 260px;
  padding-left: 14px;
  padding-top: 7px;

  @media (min-width: @tablet) {
    width: 653px;
  }

  @media (min-width: @desktop) {
    width: 1156px;
  }
}
