.example {
  background-color: #eaeaea;

  @media (min-width: @tablet) {
    background-color: @white;
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    background-image: linear-gradient(to bottom, #ffffff 27%, #f2f2f2 27%);
    margin-bottom: 16px;
  }
}

.example__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    width: 100vw;
    margin: 0;
    display: block;
    box-sizing: border-box;
  }

  @media (min-width: @desktop) {
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
  }
}

.example__container {
  padding: @padding-mobile;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;


  @media (min-width: @tablet) {
    width: 768px;
    margin: 0 auto;
    padding: 0 20px 0 31px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop) {
    width: 500px;
    padding: 0 30px;
    flex-direction: column;
    margin-right: 156px;
    margin-bottom: 0;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 26px;
  margin-top: 26px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 47px;
    margin-top: 46px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop) {
    margin-top: 32px;
    margin-left: 81px;
    margin-bottom: 128px;
  }
}

.example__text {
  .lato;
  width: 278px;
  margin-bottom: 34px;

  @media (min-width: @tablet) {
    width: 706px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop) {
    width: 433px;
    margin-left: 81px;
    margin-bottom: 83px;
  }
}

.example__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  margin-bottom: 18px;

  @media (min-width: @tablet) {
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
    line-height: 20px;
    margin-left: 119px;
    margin-top: -4px;
    width: 180px;
    text-align: right;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop) {
    width: 320px;
    margin-left: 82px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.example__info-definition {
  margin-inline-start: 0;

  @media (min-width: @desktop) {
    margin-left: 5px;
  }
}

.example__info-term {
  margin-right: 5px;

  @media (min-width: @tablet) {
    margin-bottom: 9px;
    margin-right: 0;
  }
}

.example__slider {
  position: relative;

  padding: @padding-mobile;
  margin-bottom: 41px;

  @media (min-width: @tablet) {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom, #ffffff 25%, #eaeaea 24%);
    width: 100vw;
    box-sizing: border-box;
    padding-bottom: 1px;
  }

  @media (min-width: @desktop) {
    padding: 0;
    background: transparent;
    align-self: start;
  }
}

.example__image {
  z-index: 0;
  position: relative;
  background-image: url("../../images/after@1x.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 256px;
  background-size: 100%;
  padding: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/after@2x.png");
  }

  @media (min-width: @tablet) {
    background-image: url("../../images/tabletafter@1x.png");
    width: 560px;
    height: 512px;
    margin: 0 auto;
    margin-bottom: 97px;
    box-sizing: border-box;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/tabletafter@2x.png");
    }
  }

  @media (min-width: @desktop) {
    margin-top: 34px;
    margin-bottom: 82px;
  }
}

.example__second-slide {
  position: absolute;
  height: 284px;
  width: 50%;
  max-width: 100%;
  background-color: #eaeaea;
  background-image: url("../../images/before@1x.png");
  background-repeat: no-repeat;
  background-size: 280px 245px;
  background-position: 0% 23%;
  overflow: hidden;
  resize: horizontal;
  top: 0;
  z-index: 2;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/before@2x.png");
  }

  @media (min-width: @tablet) {
    background-image: url("../../images/tabletbefore@1x.png"), linear-gradient(to bottom, #ffffff 29%, #eaeaea 30%);
    height: 512px;
    width: 50%;
    max-width: 100%;
    background-size: 565px 512px, 100%;
    background-position: 0% 23%, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/tabletbefore@2x.png"), linear-gradient(to bottom, #ffffff 29%, #eaeaea 30%);
    }
  }

  @media (min-width: @desktop) {
    background-color: transparent;
    background-image: url("../../images/tabletbefore@1x.png"), linear-gradient(to bottom, #ffffff 23%, transparent 26%);

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/tabletbefore@2x.png"), linear-gradient(to bottom, #ffffff 23%, transparent 26%);
    }
  }
}
