.example {
  background-color: #EAEAEA;

  @media (min-width: @tablet) {
    background-color: @white;
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    background-image: linear-gradient(to bottom, #ffffff 27%, #f2f2f2 27%);
    margin-bottom: -15px;
  }
}


.example__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    width: 768px;
  }

  @media (min-width: @desktop) {
    width: 1440px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.example__container {
  padding: @padding-mobile;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    padding: @padding-tablet;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop) {
    width: 500px;
    flex-direction: column;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 28px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 44px;
  }

  @media (min-width: @desktop) {
    margin-top: 32px;
    margin-left: 81px;
    margin-bottom: 128px;
  }
}

.example__text {
  .lato;
  width: 278px;
  margin-bottom: 34px;

  @media (min-width: @tablet) {
    width: 706px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
  }

  @media (min-width: @desktop) {
    width: 433px;
    margin-left: 81px;
    margin-bottom: 83px;
  }
}

.stats-list {
  .list-style;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: @desktop) {
    padding-left: 80px;
    width: 368px;
    margin: 0;
  }
}

.stats-list__item {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: @tablet) {
    width: 165px;
    margin-right: 40px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 128px;
    height: 58px;
    background-image: url(../../images/svg/weight-back.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: -16px;
    z-index: 2;

    @media (min-width: @tablet) {
      width: 165px;
      height: 84px;
      background-size: 100%;
      top: -20px;
    }
  }

  @media (min-width: @desktop) {
    margin-right: 0;
    margin-bottom: 52px;
  }
}

.stats-list__number {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  margin-bottom: 9px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 12px;
  }
}

.stats-list__description {
  .lato;
  font-size: 12px;
  width: 75px;
  line-height: 12px;
  margin-left: 0;
  text-align: center;

  @media (min-width: @tablet) {
    width: 108px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: @desktop) {
    width: 133px;
  }
}

.example__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;

  @media (min-width: @tablet) {
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
    line-height: 20px;
    margin-left: 90px;
    margin-top: 3px;
    width: 180px;
    text-align: right;
  }

  @media (min-width: @desktop) {
    width: 320px;
    margin-left: 82px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.example__info-definition {
  margin-inline-start: 0;
}

.example__info-term {
  margin-right: 5px;
}

.example__slider {
  position: relative;

  padding: @padding-mobile;
  margin-bottom: 28px;

  @media (min-width: @tablet) {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #ffffff 26%, #EAEAEA 26%);
  }

  @media (min-width: @desktop) {
    padding: 0;
    background: transparent;
  }
}

.example__slider::before {
  content: "";
  position: absolute;
  z-index: 4;
  width: 41px;
  height: 261px;
  top: 0;
  left: 140px;
  background-image: url("../../images/svg/curtain.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: @tablet) {
    height: 533px;
    top: -7px;
    left: 380px;
  }

  @media (min-width: @desktop) {
    left: 416px;
  }
}

.example__slider::before:hover {
  background-image: url("../../images/svg/curtaingreen.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.example__slider::before:active {
    background-image: url("../../images/svg/curtain-active.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.example__image {
  z-index: 0;
  position: relative;
  background-image: url(../../images/after@1x.png);
  background-repeat: no-repeat;
  width: 280px;
  height: 256px;
  background-size: 100%;
  padding: 0;

  @media (min-resolution: 2dppx) {
    background-image: url(../../images/after@2x.png);
  }

  @media (min-width: @tablet) {
    background-image: url(../../images/tabletafter@1x.png);
    width: 560px;
    height: 512px;
    margin: 0 auto;
    margin-bottom: 115px;

    @media (min-resolution: 2dppx) {
      background-image: url(../../images/tabletafter@2x.png);
    }
  }
}

.example__second-slide {
  position: absolute;
  height: 284px;
  width: 50%;
  max-width: 100%;
  background-color: #EAEAEA;
  background-image: url(../../images/before@1x.png);
  background-repeat: no-repeat;
  background-size: 280px 245px;
  background-position: 0% 23%;
  overflow: hidden;
  resize: horizontal;
  top: 0;
  z-index: 2;

  @media (min-resolution: 2dppx) {
    background-image: url(../../images/before@2x.png);
  }

  @media (min-width: @tablet) {
    background-image: url(../../images/tabletbefore@1x.png),
    linear-gradient(to bottom, #ffffff 32%, #EAEAEA 26%);
    height: 512px;
    width: 50%;
    max-width: 100%;
    background-size: 560px 512px, 100%;
    background-position: 0% 23%, center;

    @media (min-resolution: 2dppx) {
      background-image:url(../../images/tabletbefore@2x.png), linear-gradient(to bottom, #ffffff 32%, #EAEAEA 26%);
      }
    }

    @media (min-width: @desktop) {
      background-image: url(../../images/tabletbefore@1x.png),
      linear-gradient(to bottom, #ffffff 33%, #f2f2f2 26%);

      @media (min-resolution: 2dppx) {
        background-image:url(../../images/tabletbefore@2x.png), linear-gradient(to bottom, #ffffff 33%, #f2f2f2 26%);
      }
    }
}
