.explanations {
  margin: 0 auto;
  width: 320px;
  margin-bottom: 45px;

  @media (min-width: @tablet) {
    width: 768px;
    };

    @media (min-width: @desktop) {
      width: 1440px;
    };
}

.explanations__container {
  padding: @padding-mobile;

  @media (min-width: @tablet) {
    padding: @padding-tablet;
  };

  @media (min-width: @desktop) {
    padding: @padding-desktop;
  }
}

.explanations__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin-top: 22px;
  margin-bottom: 40px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

 .explanation {
  .list-style;
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: repeat(4, 60px);
  grid-row-gap: 20px;

  @media (min-width: @tablet) {
    grid-template-columns: 240px 240px;
    grid-template-rows: 240px 240px;
    grid-column-gap: 120px;
    grid-row-gap: 60px;
  };

  @media (min-width: @desktop) {
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: 280px;
    grid-gap: 60px;
  }
}

.explanation__item {
  display: grid;
  grid-template-columns: 60px 200px;
  gap: 20px;
  padding-top: 3px;

  @media (min-width: @tablet) {
    grid-template-columns: 80px 140px;
    grid-template-rows: 80px 80px;
    gap: 30px;

    background-repeat: no-repeat;
    background-position: 80% 0;
}
}

.explanation__item--functional {
  @media (min-width: @tablet) {
    background-image: url(../../images/svg/1.svg);
  }
}

.explanation__item--potion {
  @media (min-width: @tablet) {
    background-image: url(../../images/svg/2.svg);
  }
}

.explanation__item--substitute {
  @media (min-width: @tablet) {
    background-image: url(../../images/svg/3.svg);
  }
}

.explanation__item--month {
  @media (min-width: @tablet) {
    background-image: url(../../images/svg/4.svg);
  }
}

.explanation__deco {
  background-color: @main-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;

  @media (min-width: @tablet) {
    background-size: 80px 80px;
  }
}

.explanation__item--functional .explanation__deco {
  background-image: url(../../images/svg/icon-leaf.svg);

}

.explanation__item--potion .explanation__deco {
  background-image: url(../../images/svg/icon-potion.svg);

}

.explanation__item--substitute .explanation__deco {
  background-image: url(../../images/svg/icon-eat.svg);

}

.explanation__item--month .explanation__deco {
  background-image: url(../../images/svg/icon-clock.svg);

}

.explanation__text {
  .lato;
  color: @grey;
  line-height: 18px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 16px;
    line-height: 24px;
  }
}
