.footer-contacts__invitation {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.footer-contacts__address {
  .lato;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
