.page-footer {
  background-color: @white;
}

.catalog-page + .page-footer {
  background-color: #f2f2f2;
}

.footer-contacts-block {
  position: relative;
  margin: 0 auto;
  width: 320px;
  padding-top: 26px;

  @media (min-width: @tablet) {
  width: 768px;
}

  @media (min-width: @desktop) {
    width: 1440px;
  }
}

.footer-container {
  padding: @padding-mobile;

  box-sizing: border-box;
  margin-bottom: 26px;


  @media (min-width: @tablet) {
  padding: @padding-tablet;
  margin-top: 60px;
  }

  @media (min-width: @desktop) {
    margin-top: 0;
    position: absolute;
    width: 565px;
    height: 200px;
    background: @white;
    top: 100px;
    left: 100px;
    z-index: 2;
  }
}

.footer-contacts {
  display: flex;
  justify-content: space-between;

 @media (min-width: @desktop) {
    padding-top: 40px;
  }
}



.footer-contacts__invitation {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 153px;
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.footer-contacts__address {
  .lato;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 148px;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 160px;
  }

  @media (min-width: @desktop) {
    width: 155px;
  }
}

.footer-contacts__address-item {
  margin: 0;

  @media (min-width: @tablet) {
    margin-bottom: 15px;
  }
}

.footer-contacts__map {
  min-width: 320px;
  height: 362px;
  position: relative;
  margin-bottom: 0;

  @media (min-width: @tablet) {
    width: 768px;
    height: 400px;
};

  @media (min-width: @desktop) {
    width: 1440px;
    height: 400px;
};

&::before {
  position:absolute;
  content:"";
  width: 57px;
  height: 53px;
  z-index: 3;
  background-image: url(../../images/map-pin.png.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(50% - 40px);
  left: calc(50% - 40px);

  @media (min-width: @tablet) {
    width: 113px;
    height: 106px;
  }

  @media (min-width: @desktop) {
    top: calc(50% - 40px);
    left: 723px;
  }
}
}




