.goals {

}

.goal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.goal {
  background-color: #F2F2F2;
}

.goal__header {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
}

.goal__text {
  .lato;
  line-height: 18px;
  color: #444444
}

.goal__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color:#000000;
}
