.goals-checkbox {
  grid-area: goals;
  position: relative;
  margin-bottom: 6px;

  @media (min-width: @tablet) {
    margin-bottom: 49px;
  }

  @media (min-width: @desktop) {
    padding-top: 42px;
  }
}

.goals-checkbox::after {
  content: "";
  position: absolute;
  width: 318px;
  height: 1px;
  background-color: #d9d9d9;
  left: -20px;
  bottom: 11px;

  @media (min-width: @tablet) {
    display: none;
  }
}
