.hero {
  position: relative;
}

.hero__wrapper {
  background-color: @main-color;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg,rgba(104, 183, 56, 0.9),
                rgba(104, 183, 56, 0.9)), url("../../images/hero-background.png");
  background-position: center;
  background-size: cover;

  padding-top: 27px;
  padding-bottom: 109px;
  margin-bottom: 199px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(180deg,rgba(104, 183, 56, 0.9),
                rgba(104, 183, 56, 0.9)), url("../../images/hero-background2x.png");
  }

  @media (min-width: @tablet) {
    background-image: none;
    background-color: @white;
    margin-bottom: 418px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 157px;
  }
}

.hero__wrapper::before {
  @media (min-width: @mobile-only) {
    display: none;
  }

  @media (min-width: @tablet) {
    display: none;
  }

  @media (min-width: @desktop) {
    display: block;
    content: "";
    position: absolute;

    width: 50vw;
    height: 693px;
    top: -185px;
    left: calc(50%);
    background-repeat: no-repeat, no-repeat;
    background-image: linear-gradient(180deg,rgba(104, 183, 56, 0.9),
                rgba(104, 183, 56, 0.9)), url("../../images/hero-background-desktop.png");


    background-size: 100%, 720px 716px;
    background-position: center, 0 22%;
    z-index: 0;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg,rgba(104, 183, 56, 0.9),
                rgba(104, 183, 56, 0.9)), url("../../images/hero-background-desktop2x.png");
    }
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;

  width: 280px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 10px;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: @tablet) {
    padding-left: 112px;
    width: 420px;
    margin: 0;
    text-align: left;

    color: @black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop) {
    padding-left: 193px;
    z-index: 2;
    margin-top: 14px;
  }
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  text-align: center;



  @media (min-width: @tablet) {
    width: 420px;
    padding-left: 114px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop) {

    padding-left: 190px;
  }
}

.hero__hero-image {
  position: absolute;
  top: 167px;
  left: calc(50% - 140px);

  @media (min-width: @tablet) {
    width: 675px;
    height: 597px;
    top: 231px;
    left: 57px;
  }

  @media (min-width: @desktop) {
    left: 555px;
    top: -40px;
    z-index: 3;
    width: 555px;
    height: 499px;
  }
}

.hero__button {
  margin: 0 auto;

  text-decoration: none;
  display: block;
  width: 281px;
  box-sizing: border-box;
  padding-left: 74px;

  @media (max-width: @mobile-only) {
    transform: translateY(288px);
  }

  @media (min-width: @tablet) {
    position: relative;
    z-index: 3;
    width: 245px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    box-sizing: border-box;
    margin-left: 115px;
    margin-right: 0;
  }

  @media (min-width: @desktop) {
    margin-left: 188px;
  }
}
