.hero {
  position: relative;
}

.hero__wrapper {
  background-color: @main-color;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg,
    rgba(104, 183, 56, 0.9),
    rgba(104, 183, 56, 0.9)),
    url("../../images/hero-background.png");
  background-position: center;
  background-size: cover;

  padding-top: 27px;
  padding-bottom: 124px;
  margin-bottom: 199px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(180deg,
      rgba(104, 183, 56, 0.9),
      rgba(104, 183, 56, 0.9)),
      url("../../images/hero-background2x.png");
  }

  @media (min-width: @tablet) {
    background-image: none;
    background-color: @white;
    margin: 0 auto;
    margin-bottom: 402px;
    width: 768px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop) {
    width: 1440px;
    margin-bottom: 144px;
  }
}

.hero__wrapper::before {
  @media (min-width: @mobile-only) {
    display: none;
  }

  @media (min-width: @tablet) {
    display: none;
  }

  @media (min-width: @desktop) {
    display: block;
    content: "";
    position: absolute;

    width: 50vw;
    height: 920px;
    top: -411px;
    left: calc(50%);
    background-repeat: no-repeat, no-repeat;
    background-image: linear-gradient(180deg,
      rgba(104, 183, 56, 0.9),
      rgba(104, 183, 56, 0.9)),
      url("../../images/hero-background-desktop.png");
    background-size: 100%, 718px 707px;
    background-position: center, 0 100%;
    z-index: 0;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(180deg,
        rgba(104, 183, 56, 0.9),
        rgba(104, 183, 56, 0.9)),
        url("../../images/hero-background-desktop2x.png");
    }
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  color: @white;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;

  width: 252px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-bottom: 25px;
  z-index: 4;

  @media (min-width: @tablet) {
    padding-left: 117px;
    width: 420px;
    margin: 0;
    text-align: left;

    color: @black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop) {
    padding-left: 190px;
    margin-top: 13px;
    margin-bottom: 38px;
  }
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  text-align: center;
  width: 250px;
  margin: 0 auto;

  @media (min-width: @tablet) {
    margin: 0 0 49px;
    width: 420px;
    padding-left: 120px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  @media (min-width: @desktop) {
    margin-bottom: 51px;
    padding-left: 190px;
  }
}

.hero__hero-image {
  position: absolute;
  top: 167px;
  left: calc(50% - 140px);

  @media (min-width: @tablet) {
    width: 675px;
    height: 597px;
    top: 231px;
    left: calc(50% - 320px);
  }

  @media (min-width: @desktop) {
    left: calc(50% - 250px);
    transform: translateX(85px);
    top: -40px;
    z-index: 3;
    width: 555px;
    height: 499px;
  }
}

.hero__button {
  margin: 0 auto;

  text-decoration: none;
  display: block;
  width: 281px;
  box-sizing: border-box;
  padding-left: 75px;

  @media (max-width: @mobile-only) {
    transform: translateY(302px);
  }

  @media (min-width: @tablet) {
    position: relative;
    z-index: 3;
    width: 245px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    box-sizing: border-box;
    margin-left: 121px;
    margin-right: 0;
  }

  @media (min-width: @desktop) {
    margin-left: 188px;
  }
}
