.hero {
  position: relative;
  margin-bottom: 40px;
}

.hero__wrapper {
  background-color: @main-color;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg,rgba(104, 183, 56, 0.9),
                rgba(104, 183, 56, 0.9)), url("../../images/hero-background.png");
  background-position: center;
  background-size: 100%;

  padding-top: 27px;
  padding-bottom: 170px;
  margin-bottom: 135px;

  @media (min-width: @tablet) {
    background-image: none;
    background-color: @white;
  }
}

.page-title {
  font-size: 36px;
  line-height: 36px;
  color: @white;
  font-family: "Oswald";
  font-weight: 400;

  width: 280px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;

  @media (min-width: @tablet) {
    padding-left: 117px;
    width: 420px;
    margin:0;
    text-align: left;

    color: @black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  };
}

 .hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  text-align: center;

  @media (min-width: @tablet) {
    width: 420px;
    padding-left: 117px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    margin-bottom: 400px;
    text-align: left;
    };

  @media (min-width: @desktop) {
    margin-bottom: 182px;
  }
}

.hero__hero-image {
  position: absolute;
  top: 150px;
  left: calc(50% - 140px);

  @media (min-width: @tablet) {
    width: 709px;
    height: 609px;
    top: 250px;
    left: 0;
  };

  @media (min-width: @desktop) {
    background-color: @main-color;
    left: 550px;
    top: 50px;
  }

}

.hero__button {
  margin-left: 47px;
  margin-bottom: 20px;
  text-decoration: none;


  @media (min-width: @tablet) {
    position: absolute;
    top: 244px;
    left: 40px;
    width: 245px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    box-sizing: border-box;

  };

  @media (min-width: @desktop) {
    left: 46px;
  }
}
