.main-form-page {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: 0 auto;
  padding: @padding-mobile;
  background-color: @white;

  @media (min-width: @tablet) {
    width: 768px;
    padding: 0 60px;
  };

  @media (min-width: @desktop) {
    max-width: 1500px;
    padding: @padding-desktop;
    margin: 0 auto;
    min-width: 1200px;
  }
}


.main-form-page__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;

  }
}

.main-form-page__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 350px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}
