.main-form-page__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-form-page__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
