.main-form {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto(6, repeat);
  grid-template-areas:
      "cat"
      "goals"
      "owner"
      "comments"
      "add"
      "button";


  @media (min-width: @tablet) {
    grid-template-columns: 640px;
    grid-template-rows: auto(6, repeat);
  };

  @media (min-width: @desktop) {
    grid-template-columns: 600px 600px;
    grid-template-areas:
      "cat goals"
      "owner owner"
      "comments comments"
      "add add"
      "button button";
  }
}

.main-form__item:not(.button) {
  border: none;
  margin: 0;
  padding: 0;
}

.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey;
}

.main-form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey;
}

.main-form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey;
}

.info-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}


