.main-form__item:not(.button) {
  border: none;
  margin: 0;
  padding: 0;
}

.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.main-form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.main-form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.info-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.main-form__aside {
  .lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
