.page-header {
  display: flex;
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    width: 768px;
    flex-direction: row;
    justify-content: start;
    padding: @padding-tablet;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    margin: 0 auto;
    width: 1200px;
    justify-content: space-between;
    padding: 70px 110px;
  }
}

.page-header__logo-wrap {
  width: 202px;
  position: relative;
  display: block;
  box-sizing: border-box;


  @media (min-width: @tablet) {

    width: 180px;
    margin: 0;
  }

    @media (min-width: @desktop) {
margin-left: 80px;
    }

}

.page-header__logo {
  height: 38px;
  display: flex;
  align-items: center;
  margin-left: 20px;


  @media (min-width: @tablet) {
    display: none;
  }
}

.page-header__logo-text {
  margin-left: 45px;
}

.page-header__logo--tablet {
  display: none;

  @media (min-width: @tablet) {
    display: block;
    cursor: pointer;
    width: 180px;
  };

  @media (min-width: @desktop) {
    &:hover {
      opacity: 0.8;
    }
    &:active{
      opacity: 0.6;
    }
  }
}
