.product-list {
  .list-style;
  display: grid;
  grid-template-columns: 280px;

  @media (min-width: @tablet) {
    grid-template-columns: 325px 325px;
    grid-row-gap: 142px;
    grid-column-gap: 60px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
  }
}
