.product {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: @tablet) {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
}

.product__name-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @light-black;
  text-transform: uppercase;
}

.product__table-row {
  .lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @grey;
  }

.product__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @light-black;
  text-transform: uppercase;
}

.product__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @grey;
}
